@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: white;
    color: #333
}

/* GRID PRINCIPAL */
.conteiner {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    gap: 20px;
    padding: 10px;
}

@media (min-width: 800px) {
    .conteiner {
        grid-template-columns: 1fr minmax(0, 800px) 1fr;
        grid-template-areas: 
            "header header header"
            ". main ."
            "footer footer footer";
    }
    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
}

/* HEADER */
header {
    grid-area: header;
    background-color: rgb(40, 86, 65);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

/* MENU LATERAL */
/* BOTÃO HAMBÚRGUER */
#menuBtn {
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
    position: absolute;
    left: 10px;
    top: 20px;
}

/* MENU LATERAL ESCONDIDO */
#sideMenu {

    position: fixed;
    top: 0;
    left: -260px; /* Escondido */
    width: 250px;
    height: 100%;
    background-color: #2d2d2d;
    color: white;
    padding: 20px;
    transition: 0.4s;
    z-index: 9999;
    box-shadow: 4px 0 10 rgba(0,0,0,0.4);
}
/*  MENU LATERAL APARECE*/
#sideMenu.open {
    left: 0; /* aparece */
}

/* BOTÃO FECHAR DO MENU */
#claseMenu {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    float: right;
    position: relative;
}

#sideMenu ul {
    list-style: none;
}

#sideMenu li {
    margin: 15px 0;
}

#sideMenu a {
    text-decoration: none;
    color: #dcdcdc;
    font-size: 16px;
}

#sideMenu a:hover {
    color: white;
}

#search {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto 20px auto;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.card {
    width: 250px;
    background-color: white;
    color: #222;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform .2s, box-shadow .3s;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.25);
}

/* FOOTER */
footer {
    grid-area: footer;
    text-align: center;
    background-color: rgb(40, 86, 65);
    color: white;
    padding: 10px;
    border-radius: 10px;
}